########################################
# Python/Django Project .gitignore      #
########################################

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Database files
db.sqlite3
db.sqlite3-journal

# Django/Flask/Local settings
*.log
local_settings.py
instance/
.webassets-cache

# Static and build files
staticfiles/
media/
build/
dist/

# Packaging
.Python
*.egg-info/
*.egg
.eggs/
MANIFEST
.installed.cfg
wheels/
share/python-wheels/

# Test/coverage reports
.tox/
.nox/
.coverage*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter/IPython

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE/project settings
.spyderproject
.spyproject
.ropeproject
.pdm.toml
.pdm-python
.pdm-build/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/
.ruff_cache/
.pypirc

# PEP 582
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# PyBuilder
.pybuilder/
target/

# PyCharm/JetBrains
# .idea/

# Misc
misc
